.sidebar {
    width: 250px;
    height: 100vh;

    background-color: #1e293b;

    display: flex;
    flex-direction: column;

    padding: 20px;

    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    color: white;

    margin-bottom: 30px;
}

.sidebar button {

    background: transparent;

    border: none;

    color: white;

    text-align: left;

    padding: 12px;

    margin-bottom: 10px;

    cursor: pointer;

    border-radius: 8px;

    transition: 0.3s;
}

.sidebar button:hover {

    background-color: #334155;
}